<!--HEADER-->
<header class="header">
    <div class="grid">
      <div class="texto-hero">
        <h1 class="weight-400">
          Convertimos tus sueños en
          <span class="weight-600">realidad</span>
        </h1>
        <p class="parrafo">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet
          vero ab! Fuga, optio temporibus. Eum modi cumque maiores illum!
        </p>
        <a href="#" class="cta">Contactanos</a>
      </div>
      <div class="img-hero">
        <img
          src="https://onedrive.live.com/embed?resid=AB3AF34BFE317593%2116337&authkey=%21APDp3l9LrcRuaRQ&width=1379&height=815"
          alt="imagen01"
          class="img"
        />
        
      </div>
    </div>
  </header>
  