<!--MAIN-->
<main>
    <!--section 1-->
    <section class="service">
        <section class="grid">
            <div class="items">
                <div class="item">
                    <span class="material-symbols-outlined">
                        flutter
                        </span>
                    <h3 class="titulo-service">Software developer</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, sapiente?</p>
                </div>
          
            
                <div class="item">
                    <span class="material-symbols-outlined">
                        stacked_bar_chart
                        </span>
                    <h3 class="titulo-service">Data analytics</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, sapiente?</p>
                </div>
            
                <div class="item">
                    <span class="material-symbols-outlined">
                        database
                    </span>
                    <h3 class="titulo-service">Database Administrators </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, sapiente?</p>
                </div>
            </div>
        </section>

    </section>
      <!--section 2-->
      <section class="about-us">
          <div class="grid">
              <div class="textos-about-us">
                  <h2 class="subtitulos">About-us</h2>
                  <p class="parrafo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, reprehenderit. Iure architecto possimus quo ea.</p>
                
                  <div class="numbers">
                      <div class="number">1671</div>
                      <div class="number">1672</div>
                      <div class="number">1673</div>
                      <div class="number">1674</div>
                      
                  </div>
                </div>
          </div>
      </section>
      <!--Seccion 3-->
      <section class="mission grid">
            <div class="texto-mission">
                <h3>01 Startups</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam corrupti, iure perspiciatis dignissimos eos voluptatum consequatur provident sit reiciendis quaerat.</p>
                
            
           
                <h3>02 Startups</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam corrupti, iure perspiciatis dignissimos eos voluptatum consequatur provident sit reiciendis quaerat.</p>

           
            
                <h3>03 Startups</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam corrupti, iure perspiciatis dignissimos eos voluptatum consequatur provident sit reiciendis quaerat.</p>

            </div>
            <div class="img-mission"> 
                <img src="https://onedrive.live.com/embed?resid=AB3AF34BFE317593%2116340&authkey=%21AIW-MTOz3EUyrxo&width=1417&height=1034" alt="" class="img"> 
            </div>
      </section>
</main>